@charset "UTF-8";
/* CSS Document */

body {
    background:#e5e4e4;  
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	margin: 0;   
}

header {
	background: #72b9b5;
	max-width: 100%;
	height: 100px;
	margin: 0 auto;
	
}

header #header-left {
	width: 80%;
	float: left;
	display: inline-block;
}

header #header-left img {
	position: relative;
	top: 19px;
	left: 13px;
}

header #header-right {
	display: inline-block;
}

#header-right ul {
	margin: 0;
	padding: 0;
}

#header-right ul li {
	display: inline-block;
	padding: 0 0 0 15px;
}

#header-right ul.home-icons {
	list-style: none;
}

#header-right ul.home-icons .compose-tweet img {
	position: relative;
	top: 19px;
	left: 11px;
}

#header-right ul.home-icons .add-feed img {
	position: relative;
	top: 19px;
	left: 14px;
}

#header-right ul li.compose-tweet {
	background: #64a3cf;
	width: 100px;
	height: 100px;
}

#header-right ul li.add-feed {
	background: #e7995b;
	width: 100px;
	height: 100px;
}

#menu .menu-icon {
	background: #e28891;
	width: 100px;
	height: 100px;
}
 
img  {
    border:none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
	font-weight: 600;
	
}

.clear {
	clear: both;
}

.logo {
	text-align: center;
}

.logo img {
	width: 100px;
}

/* -------- LOGIN SCREEN ------*/

.login-wrapper {
	width: 40%;
	height: 200px;
	background: #72b9b5 no-repeat;
	margin: 10% auto;
}

.login-wrapper h3 {
	color: #fff;
	text-align: center;
	font-weight: 400;
	padding: 20px 0 0 0;

}
.twitter-login {
	width: 70%;
	background: #e28891;
	text-align: center;
	margin: 0 auto;
	
}

.twitter-login-icon img {
	width: 25px;
	float: left;
	vertical-align: middle;
	padding: 10px 0 10px 20px;
	
	
}

.twitter-login form {
	padding: 3px;
	margin: 50px;
}

.twitter-submit {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 1.6em;
	background: #e28891 no-repeat ;
	color: #fff;
	margin: 0 auto;
	border: none;
	padding: 0;
	
	
}
 
#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;  
}
 
.tweets {
    width:258px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 20px 0 0;
    padding:8px 0px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
	float: left;
}
 
.tweets-feed h1 {
    color:#5F5F5F;
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;    
}
 
.twitter-article, #loading-container {
    width:258px;
    border-top:1px dotted #CCC;
    float:left; 
    padding:8px 0px 8px 0px;
}
 
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;  
    border:none;
     
}
 
/* -------- TEXT STYLING ------*/
.twitter-text {
    width:194px;
    float:left;
    font-size:11px;
    padding-left: 11px;
}
.twitter-text p {
    margin:0px;
    line-height:15px;   
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
 
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
 
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
 
/* -------- FEED  ACTIONS ------*/
#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;   
    margin-top:3px;
        display:none;
}
.intent {
    width:25px;
    height:16px;
    float:left; 
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    background-image:url(../images/tweet-actions.png);
    float:left; 
} 
.intent a:hover{
    background-position:-25px 0px;
} 
 
#intent-retweet a{
    background-position:0px -17px;
} 
#intent-retweet a:hover{
    background-position:-25px -17px;
} 
#intent-fave a{
    background-position:0px -36px;
} 
#intent-fave a:hover{
    background-position:-25px -36px;
} 
 
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-image:url(../images/tweet-actions.png);
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}

.clear {
	clear:both;
}

